.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url('https://images.unsplash.com/photo-1537147347432-676815edd56c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2a18795d-b6cb-43dd-a510-5cb5a05c67d8/d9np4u0-272d8987-4925-49ef-8ecb-f785fd4298f4.png/v1/fill/w_1024,h_533,q_80,strp/isolated_temple___process_video_by_jeremypaillotin_d9np4u0-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTMzIiwicGF0aCI6IlwvZlwvMmExODc5NWQtYjZjYi00M2RkLWE1MTAtNWNiNWEwNWM2N2Q4XC9kOW5wNHUwLTI3MmQ4OTg3LTQ5MjUtNDllZi04ZWNiLWY3ODVmZDQyOThmNC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.K3bjSXGksDX15KfIc5A3IA_zR4wcNhpKD3OdB6hZF_Y');
 background-image:url('https://wallpapercave.com/wp/wp5910951.jpg');
 background-image:url("https://www.teahub.io/photos/full/108-1080717_minimalist-wallpaper-hd-space.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
